<section class="hero-bg" id="hero">
    <div class="container mb-3">
      <div class="d-flex h-100 flex-column text-dark justify-content-end text-center">
        <h1 class="display-2 text-danger pb-2">Vienna Events</h1>
     
      </div>
    </div>
  </section>